<section class="main__banner main__banner--bottom" role="banner">
  <div class="page__container">
    <div class="main__banner-container">
      <div class="main__banner-textblock main__banner-textblock--bottom">
        <p class="main__banner-text">own the day</p>
        <h1 class="main__banner-title">tachen 19</h1>
        <div class="main__banner-buttons">
          <button class="main__banner-button main__banner-button--bottom">
            shop collection
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
