<section class="main__categories" role="navigation">
  <article class="main__categories-frame category-1"></article>
  <article class="main__categories-frame category-2"></article>
  <article class="main__categories-frame category-3"></article>
  <article class="main__categories-frame category-4"></article>
</section>
