<section class="main__fashion">

  <h3 class="main__fashion-title">avone styles</h3>

  <p class="main__fashion-subtitle">Choose Your Favorite Color</p>

  <div class="main__fashion-avonecontainer">
  <div class="main__fashion-avone-image main__fashion-avone-image--1"></div>
  <div class="main__fashion-avone-image main__fashion-avone-image--2"></div>
  <div class="main__fashion-avone-image main__fashion-avone-image--3"></div>
  <a href="#" class="main__fashion-avone-image--text">show women's dress</a>
</section>
