<section class="main__banner main__banner--top" role="banner">
  <div class="page__container">
    <div class="main__banner-container">
      <div class="main__banner-textblock main__banner-textblock--top">
        <p class="main__banner-text">new trend</p>
        <h1 class="main__banner-title">collusion</h1>
        <p class="main__banner-text--small">
          An exclusive selection of this season's trends.
        </p>
        <div class="main__banner-buttons">
          <button class="main__banner-button main__banner-button--top">
            discover
          </button>
          <button class="main__banner-button main__banner-button--top">
            shop now
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
