/**
 * Store your colours, fonts, sizes and other important variables in this file.
 */


/////
// COLOURS
// Store your colours here.
/////
$colour-white: #fff;
$colour-black: #000;

$colour-background-dark: #252525;
$colour-background-grey: #c4c4c4;
$colour-background-footer: #e7f5f8;
$colour-background-contacts: #f2f8fc;

$colour-text: #22262a;
$colour-rebate: #cf2929;


/////
// FONTS
// Store your font choices here.
/////

// Based on GitHub's font stack
// More information: https://css-tricks.com/snippets/css/system-font-stack/
// $font-family-native: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
//     sans-serif, "Apple colour Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-family-poppins: "Poppins", sans-serif;

$primary-font-size: 18px;
$primary-font-weight: 500;
$common-line-height: 150%;
