{% extends "base.njk" %}
{% block main %}
{% include "partials/_main__top-banner.njk" %}
<div class="page__container">
{% include "partials/_main__categories.njk" %}
{% include "partials/_main__fashion.njk" %}
{% include "partials/_main__avone.njk" %}
</div>
{% include "partials/_main__bottom-banner.njk" %}
{% endblock %}
